/* --Plumfield Moms stylesheet-- */
/* Created by Michael Masarik on 1/3/2025 */
/* Some of the code here has been copied from free snippets that Super.so has published. I have noted where it is used. */

:root {
/* Start of Super.so DB picker code */
  /* Border radius */
  --picker-border-radius: 8px!important;
  /* Active colors */
  --picker-active-bg-color: rgb(125,14,14)!important;
  --picker-active-text-color: rgb(255,255,255)!important;
  /* Default colors */
  --picker-border-color: rgb(233, 233, 233)!important;
  --picker-text-color: rgb(70, 70, 70)!important;
  /* Hover colors */
  --picker-hover-bg-color: rgb(125,14,14)!important;
  --picker-hover-text-color: rgb(255, 255, 255)!important;
  --picker-hover-border-color: rgb(233, 233, 233)!important;
  /* Notion Red */
  --notion-red-base: #7D0E0E !important;
  --yellow-text-color: #ffe3a3 !important;
  /*Button Text Size*/
  --button-text-size: 20px !important;
  

  .notion-collection__header-wrapper .notion-dropdown__menu-header,
  .notion-dropdown__button svg:first-of-type,
  .notion-dropdown__option-icon {
  display: none !important;
 }
@media all and (min-width: 576px) {
  .notion-collection__header-wrapper .notion-dropdown {
    width: 100% !important;
    z-index: 1 !important;
  }
  .notion-collection__header-wrapper .notion-dropdown__button {
    justify-content: space-between !important;
    width: 100% !important;
    border: 1px solid var(--color-border-default) !important;
    padding: 10px !important;
    border-radius: 8px !important;
    display: none !important;
  }
  .notion-collection__header-wrapper .notion-dropdown__menu-wrapper {
    margin-bottom: 16px !important;
    position: relative !important;
  }
  .notion-collection__header-wrapper
    .notion-dropdown__menu-wrapper
    .notion-dropdown__menu {
    width: 100% !important;
    border-radius: 8px !important;
    transform: none !important;
    left: auto !important;
    top: auto !important;
  }
  .notion-collection__header-wrapper
    .notion-dropdown__menu-wrapper
    .notion-dropdown__menu
    .notion-dropdown__option-list {
    padding: 0 !important;
    flex-wrap: wrap !important;
  }
  .notion-collection__header-wrapper
    .notion-dropdown__menu-wrapper
    .notion-dropdown__menu
    .notion-dropdown__option {
    padding: 5px 16px !important;
    height: 50px !important;
  }
  .notion-collection__header-wrapper .notion-dropdown__menu.initial-state {
    z-index: 1 !important;
    opacity: 1 !important;
    transform: none !important;
  }
  .notion-collection__header-wrapper .notion-dropdown__menu.animate-in,
  .notion-collection__header-wrapper
    .notion-dropdown__menu.animate-in.animate-out,
  .notion-collection__header-wrapper .notion-dropdown__menu.animate-out {
    animation: none !important;
  }
  .notion-collection__header-wrapper .notion-dropdown__menu {
    width: 80% !important;
    margin: 0 auto !important;
    background: 0 0 !important;
    box-shadow: unset !important;
    position: relative !important;
  }
  .notion-collection__header-wrapper
    .notion-dropdown__menu
    .notion-dropdown__option-list {
    display: flex !important;
    gap: 8px !important;
  }
  .notion-collection__header-wrapper
    .notion-dropdown__menu
    .notion-dropdown__option.active {
    background: var(--picker-active-bg-color) !important;
  }
  .notion-collection__header-wrapper
    .notion-dropdown__menu
    .notion-dropdown__option.active
    p {
    color: var(--picker-active-text-color) !important;
  }
  .notion-collection__header-wrapper
    .notion-dropdown__menu
    .notion-dropdown__option {
    border-radius: var(--picker-border-radius) !important;
    border: 1px solid var(--picker-border-color) !important;
    transition: 0.15s ease-in-out !important;
    align-items: center !important;
  }
  .notion-collection__header-wrapper
    .notion-dropdown__menu
    .notion-dropdown__option:hover {
    background: var(--picker-hover-bg-color) !important;
    border-color: var(--picker-hover-border-color) !important;
  }
  .notion-collection__header-wrapper
    .notion-dropdown__menu
    .notion-dropdown__option:hover
    p {
    color: var(--picker-hover-text-color) !important;
  }
  .notion-collection__header-wrapper
    .notion-dropdown__menu
    .notion-dropdown__option
    p {
    font-size: 1rem !important;
    color: var(--picker-text-color) !important;
  }
}
 /* End of Super.so DB picker code*/


/* Hide all content inside a brown toggle - Thanks to Super.so for this! */
.notion-toggle.bg-brown { 
  display: none !important; 
}

/* Link Buttons* - remove when old links are fixed*/
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--notion-red-base) !important;
    color: var(--yellow-text-color) !important;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
  }

  .button-link:hover {
    background-color: #d44c47;
  }

  .button-container {
    text-align: center; /* Centers the button horizontally */

  }
}
/*remove this later*/
/* Turn a single line callout block into a button (Entire block is clickable). NOTE: the block has to be blue for this to work. */
/*This code is from Super.so. I have edited it somewhat to fit my needs. Here is the original: https://help.super.so/en/articles/6416536-how-to-turn-a-callout-into-a-cta-button */
.notion-callout{
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 24px;

    & a {
      color: var(--yellow-text-color)!important;
  }
    & a:hover {
      color: white !important;
  }
}


.notion-callout .notion-callout__content .notion-semantic-string span .notion-link {
  border-radius: 20px!important;
  display: block!important;
  background-color: var(--notion-red-bas);
  position: absolute!important;
  height: 100%!important;
  width: 100%!important;
  top: 0!important;
  left: 0!important;
  right: 0!important;
  bottom: 0!important;
  padding: 15px!important;
  padding-left: 50px!important;
  border: none!important;
  color: white !important;
  text-align: center;
}

.notion-callout.bg-blue-light {
    box-shadow: 0 20px 30px -10px rgb(0,0,0,0.2) !important;
    letter-spacing: -0.4px !important;
    border-radius: 35px !important;
    align-items: center !important;
    width: fit-content !important;
    position: relative !important;
    font-weight: var(--button-text-size);
    border: none !important;
    font-size: 20px !important;
    
}

.notion-callout:hover {
    box-shadow: 0 20px 30px -10px rgba(0,0,0,0.3) !important;
}

.notion-callout:active {
    box-shadow: 0 20px 30px -10px rgb(0,0,0,0.2) !important;
    transform: scale(0.96) !important;
}

.notion-callout.bg-blue-light {
    background: var(--notion-red-base) !important; /* CHANGE THE BUTTON COLOR HERE */
    box-shadow: none !important;
    color: #fff !important;
}

.notion-callout.bg-blue-light:hover {
    box-shadow: 0 20px 30px -10px rgba(0,0,0,0.1) !important;
}

.notion-callout__icon {
    pointer-events: none !important;
    display: none;
}

.notion-callout.bg-blue-light p { 
  margin-left:12px !important;
  font-size: 18px !important; 
}

.notion-callout.bg-blue-light .notion-semantic-string .link {
    padding: 16px -20px 17px !important;
    display: inline-block !important;
    white-space: pre !important;
    font-weight: 20px !important;
    font-size:20px;
    border: none !important;
    opacity:1 !important;
}

.notion-callout.bg-blue-light .notion-semantic-string .link:hover {
    border: none !important;
}
/* Link Color */
a {
  color: var(--notion-red-base)!important;
}
a:hover {
  text-decoration: none;
  color: #000000 !important;
}
/*if you use a "@" link, this fixes the bg color*/
.notion-page:hover{
  background: var(--notion-red-base);

}
/* Center Column */
.notion-column {
  align-items: center;
}


/*notion relation icon size*/
.notion-page__icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1.5rem !important;
  /* padding-bottom: 1.1px; */
  height: 30px !important;
  line-height: 1.6em;
  -webkit-margin-end: .3em;
  margin-inline-end: .3em;
  }
  notion-page__icon.small {
      width: 20px !important;
      /* height: auto; */
  }
  /*Footer color*/
  .super-footer__footnote{
    color: rgb(155,154,151,1) !important;
  }
  /*Inline Code Color*/
  p code{
    color:  red  !important;
  }
  /*New Site Popover*/
  button{
    text-align: center!important;
    border-radius: 75px !important;
    border: 1px black !important;
    background-color: var(--notion-red-base);
    color: white!important;
    font-size: 25pt !important;
    padding: 10px 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2) !important;
  }
  .redirect-popover{
   text-align:center !important;
   border: none !important;
   box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2) !important;
   width: 90%;
   max-width: 500px;
   max-height: 300px;
   overflow-y: auto;
   border-radius: 20px;
  }
  .redirect-popover:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.44) !important;
  } 
  .redirect-popover::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
} 